@charset "utf-8";

@import url(font.css);
@import url(reset.css);
@import url(var.css);

#section1{width: 100%;height: 900px;position: relative;overflow: hidden;}
    
.top_menu{display: flex;width: 90%;margin: 0 auto;justify-content: space-between;font-size: 48px;align-items: center;color: #fff;padding-top: 30px;}

.top_menu li{width: 20%;display: flex;align-items: center;justify-content: center;}
.top_menu li a{color: #fff;}
.top_menu li figure{width: auto;height: 40px;display: flex;align-items: center;justify-content: center;gap: 10px ;}
.top_menu figure img{height: 100%;}
.cloud_box{display: flex;;position: absolute;top: 0;left: 0;background: url(../img/light1.png) no-repeat;width: 100%;height: 100vh;z-index: -1;overflow: hidden;}
.cloud_box .first{position: absolute;;animation: moveto 6s infinite linear; transition: right 0.5s ease;z-index: 0}
@keyframes moveto {
  
    0% {right: 30%; top:-5% ; }
    50% {right: 50%;top:-5% ; }
    100% {right: 70%;top:-5% ; }   
}
.cloud_box .last{position: absolute;;animation: moveto2 6s infinite linear; transition: right 0.5s ease;z-index: 0; }
@keyframes moveto2 {
    0% {left: 0;top:0% ; }
    50% {left: 30%;top:0% ; }
    100% {left: 50%; top:0% ;}      
}

.title{font-size: 120px;text-align: center;width: 100%;height: 50vh;display: flex;align-items: center;justify-content: center;;z-index: 1;font-family:'DNFBitBitv2';color: #191E46;}
.title p{font-size: 60px;font-family: 'DungGeunMo';color: #fff;animation: fade-inout 6s infinite;cursor: pointer;}
@keyframes fade-inout {
    0% {opacity: 0;}
    33% {opacity: 0.5;}
    66% {opacity: 1;}
    99% {opacity: 1;}
    100% {opacity: 0;}
    
}
.before{position: absolute;z-index: 1;top: 30% ;left: 49.5%;transform: translate(-50% ,-50%);color:#fff;}

#container {
    position: absolute;
    bottom: 55px;
    width: 60vw;
    height: 50vh;
    overflow: hidden;
    margin: 0 auto;
    display: none;
    width: 100%;
}
#move {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    width: 90px;
    transition: transform 0.1s;
}
.obstacle {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 160px;
    left: 1400px;
}